.rgb-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20rem;
  height: 10rem;
  padding: 0px 10px;
}

.rgb-container > div {
  width: 6rem;
  height: 6rem;
  border-radius: 6rem;
}

.rgb-container > div:first-of-type {
  background-color: #f00;
}

.rgb-container > div:nth-of-type(2) {
  background-color: #0f0;
}
.rgb-container > div:nth-of-type(3) {
  background-color: #00f;
}


